# Object files
*.o
*.dSYM

# Database files
*.db

# VSCode
.vscode

# Executables
squeectl
squee-add-row
squee-create-table
squee-new-database
squee-read-database
smoke/test-squee-row
smoke/test-squee-database
